* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
}
html {
    font-family: sans-serif;
}
body {
    background-color: #222;
}

.wrap {
    width: 1382px;
    margin: 0 auto;
}
.wrap svg {
    position: relative;
    left: 95px;
    height: auto;
}
.airplane {
    transform-origin: 23px 23px;
    opacity: 0;
}